<html>

<head>
  <title>Timbuktu</title>
  <meta http-equiv=Cache-Control content=no-cache, no-store, must-revalidate />
  <meta http-equiv=Pragma content=no-cache />
  <meta http-equiv=Expires content=0 />
  <meta http-equiv="refresh" content="30">
  <!--auto refresh page-->
  <link rel=stylesheet type=text/css href=static/style.css>
</head>

<body>
  <div class=center>

    <h1 id=head1>An Unordered HTML List</h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Neat</li>
    </ul>
    <h2 id=head2>An Ordered HTML List</h2>
    <ol>
      <li> {{ msg }} </li>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    </ol>
    <p id=par1>This is a dink.</p>

    <a href=https://www.yahoo.com>Yahoo</a><br>


    <img src=static/bike.jpg alt=bike width=500 height=700><br>

  </div>
  <div class=center>
    <button id=btn1 class=button1 onclick="showDate('head1')">Click Me</button><br>
    <br>
    <button id=btn2 class=button1 onclick="countMe('head2')">Wowowo</button><br>
    <br>
    <textarea id=txt1 class=text1 rows=10 cols=30>The cat was playing in the garden.</textarea>


  </div>


  <a href=sayhello>Klik</a>

  <form>
    <label for=username>Username:</label><br>
    <input type=text id=username name=username><br>
    <label for=pwd>Password:</label><br>
    <input type=password id=pwd name=pwd>
  </form>

  <form action="/foo" method="POST">
    <input type="submit" value="French">
  </form>
  <script src=static/scripts.js>
  </script>

</body>

</div>

</html>